@page "/Inscripcion"

<h3>Inscripcion</h3>

<div class="container">
    <h5>@mensaje</h5>
    <div class="row">
        <div class="col-md-9">
            <EditForm Model="inscripcion" OnValidSubmit="Guardar">
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <div class="form-group">
                    <label for="InscripcionId">IncripcionId</label>
                    <InputNumber @bind-Value="inscripcion.InscripcionId" class="form-control"></InputNumber>
                    <ValidationMessage For="(()=>inscripcion.InscripcionId)"></ValidationMessage>
                </div>

                <div class="form-group">
                    <label for="Semestres">Semestres</label>
                    <InputText @bind-Value="inscripcion.Semestre" class="form-control"></InputText>
                    <ValidationMessage For="(()=>inscripcion.Semestre)"></ValidationMessage>
                </div>

                <div class="form-group">
                    <label for="Limite">Limite de creditos</label>
                    <InputNumber @bind-Value="inscripcion.Limite" class="form-control"></InputNumber>
                </div>

                <div class="form-group">
                    <label for="Tomados">Tomados en el semestre</label>
                    <InputNumber @bind-Value="inscripcion.Tomados" @oninput="CalcularDisponibles" @onfocusin="CalcularDisponibles" @onfocusout="CalcularDisponibles" class="form-control"></InputNumber>
                    <ValidationMessage For="(()=>inscripcion.Tomados)"></ValidationMessage>
                </div>

                <div class="form-group">
                    <label for="Disponibles">Disponibles en el semestre</label>
                    <InputNumber @bind-Value="inscripcion.Disponibles" @oninput="CalcularDisponibles" @onfocusin="CalcularDisponibles" @onfocusout="CalcularDisponibles" disabled class="form-control"></InputNumber>
                </div>

                <button type="button" class="btn btn-info" @onclick="Nuevo">Nuevo</button>
                <button type="submit" class="btn btn-primary" @onclick="CalcularDisponibles">Guardar</button>
                <button type="button" class="btn btn-danger" @onclick="Eliminar">Eliminar</button>

            </EditForm>
        </div>
        
        <div class="col">
            <button type="button" class="btn btn-success" @onclick="Buscar">Buscar</button>
        </div>

    </div>
</div>


@code {
    Inscripcion inscripcion = new Inscripcion();
    InscripcionControllers InscripcionControllers = new InscripcionControllers();
    private string mensaje;


    private void Guardar()
    {
        if(inscripcion.Tomados > inscripcion.Limite)
        {
            mensaje = "El limite no puede ser mayor a tomados";
        } else
        {
             InscripcionControllers.Insertar(inscripcion);
             mensaje = "Guardado correctamente";
             this.inscripcion = new Inscripcion();
        }
       
    }

    private void Nuevo()
    {
        this.inscripcion = new Inscripcion();
    }

    private void Eliminar()
    {
        bool paso = InscripcionControllers.Eliminar(inscripcion.InscripcionId);
        if (paso == false)
        {
            mensaje = "No existe la inscripcion";
        }
        else
        {
            mensaje = "Eliminado correctamente";
            this.inscripcion = new Inscripcion();
        }
    }

    private void Buscar()
    {
        Inscripcion busca = InscripcionControllers.Buscar(inscripcion.InscripcionId);
        if (busca != null)
        {
            this.inscripcion = busca;
            mensaje = "Encontrado correctamente";
        }
        else
        {
            mensaje = "No se pudo encontrar";
            this.inscripcion = new Inscripcion();
        }
    }

    private void CalcularDisponibles()
    {
        inscripcion.Disponibles = inscripcion.Limite - inscripcion.Tomados;
    }


}
